body {
    min-height: 100vh;
    background-color: lightblue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-width: 90vw;
}

.todos {
    background-color: white;
    border-radius: 20px;
    border: 1px black solid;
}

.todo-list {
    list-style-type: none;
    margin: 0;
    padding: 2.5%;
    display: grid;
    grid-template-columns: 48.75% 48.75%;
    grid-column-gap: 2.5%;
    grid-auto-rows: 75px;
}

li {
    border: 1px black solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked {
    text-decoration: line-through;
}